.sct {
  height: fit-content;
  background-image: url("../../assets/media/image\ 8.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 50px;

  p {
    margin: 10px 0;
  }

  button {
    background-color: #222222;
    color: white;
    padding: 10px 20px;
  }
}
