.footer__mob {
  ul {
    display: grid;
    gap: 10px;

    li a {
      color: #666666;
      text-decoration: none;
    }
  }

  form {
    display: grid;
    gap: 20px;
    margin-top: 16px;

    input {
      width: 100%;
      border: none;
      border-radius: 8px;
      outline: none;
      background-color: #f8f8f8;
      padding: 10px;
    }

    .minbox {
      display: flex;
      align-items: center;
      gap: 20px;

      input {
        width: 24px;
        height: 24px;
        accent-color: black;
      }

      p {
        margin: 0;
      }
    }

    button {
      background-color: #222222;
      color: white;
      padding: 10px 20px;
    }
  }

  p {
    color: #666666;
  }
}
